#split-view-left {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-right: none !important;
}

@media (min-width: 992px) {
    #split-view-left {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        border-bottom: none !important;
    }
}