@keyframes fluid-flow {
    from { stroke-dashoffset: 0; }
    to   { stroke-dashoffset: -12; }
}

.fluid-edge {
    stroke-dasharray: 6 6;
    animation: fluid-flow 0.5s linear infinite;
}

.num-input {
    width: 80px;
    border: none;
    padding: 0;
    border-radius: 0;
    font-size: 1rem;
}

.num-input:focus {
    border: none !important;
    box-shadow: none !important;
}

@keyframes pulse2 {
    0% {
        transform: scale(1, 1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(6, 6);
        opacity: 0;
    }
}



#radar  {
    fill: rgba(121, 0, 0, .5);
    animation: pulse2 1.5s ease-in-out infinite;
}

.add-handle {
    position: absolute;
    background-color: rgba(121, 121, 121, 0.27);
    border: none;
    border-radius: 100%;
    aspect-ratio: 1;
    min-height: 0;
    min-width: 0;
    display: block;
    width: 20px;
    height: 20px;
    z-index: 1000;

    cursor: cell;
}

.position-handle {
    position: absolute;
    background-color: rgba(121, 121, 121, 0.55);
    border: none;
    border-radius: 100%;
    aspect-ratio: 1;
    min-height: 0;
    min-width: 0;
    display: block;

    width: 20px;
    height: 20px;
}