
.inputCardImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    pointer-events: none; /* Prevents the image from being interactive */

    margin-bottom: 0;
}

.inputCardTitle {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-top: 0px;
}

.inputCard {
    max-width: 220px;
    cursor: pointer;
    background: #202428 !important;
    border: 1px solid #3a4048 !important;
    border-radius: 0.5rem;

    margin: 5px;
    user-select: none;
    transition: background-color 0.1s;
}

.inputCard:hover {
    background: #393d3f;
}

.inputCard-inputField {
    width: 55%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #2d3233;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-align: center;

}
.inputCard-inputField:focus {
    outline: none;
}

.somersloopInput {
    width: 100%;
}

.smallSloop {
    width: 40px;
    height: 40px;
}
.bigSloop {
    width: 55px;
    height: 55px;
    margin: 0 0;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
}

.sloopInputField {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #2d3233;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    user-select: none;
    text-align: center;
}