img, .no-drag {
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}



.top-screen-navbar {
    overflow-x: hidden;
}

.clickable-link{
    cursor: pointer;
    text-decoration: none;
    color: rgba(222, 226, 230, 0.75) !important;
}


.clickable-link:hover {
    color: #ea80fc !important;
    text-decoration: underline;
}

.default-purple {
    color: #c189cd !important;
}

.default-orange {
    color: #e26d13 !important;
}

.default-orange-desaturated {
    color: #d56d25 !important;
}